h1{
    color: blue;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.email{
    width: 400px;
    border-color: aqua;
  box-shadow: aqua;
}
.img{
    margin: 2rem;
}
p{
    color: beige;

}

